/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/dictionaries/adina_petrean.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/workspace.xml
/ResourceBundles/.idea/.name
/ResourceBundles/.idea/compiler.xml
/ResourceBundles/.idea/copyright/profiles_settings.xml
/ResourceBundles/.idea/dictionaries/adina_petrean.xml
/ResourceBundles/.idea/encodings.xml
/ResourceBundles/.idea/misc.xml
/ResourceBundles/.idea/modules.xml
/ResourceBundles/.idea/scopes/scope_settings.xml
/ResourceBundles/.idea/uiDesigner.xml
/ResourceBundles/.idea/vcs.xml
/ResourceBundles/.idea/workspace.xml

/ResourceBundles/ResourceBundles.iml

/Annotations/.idea/.name
/Annotations/.idea/compiler.xml
/Annotations/.idea/copyright/profiles_settings.xml
/Annotations/.idea/dictionaries/adina_petrean.xml
/Annotations/.idea/encodings.xml
/Annotations/.idea/misc.xml
/Annotations/.idea/modules.xml
/Annotations/.idea/scopes/scope_settings.xml
/Annotations/.idea/uiDesigner.xml
/Annotations/.idea/vcs.xml
/Annotations/.idea/workspace.xml

/Annotations/target/classes/annotations/Logged.class
/Annotations/target/classes/annotations/Main.class
/Annotations/target/classes/annotations/ObjectInterface.class
/Annotations/target/classes/annotations/ObjectOne.class
/Annotations/target/classes/annotations/ObjectProxy.class
/Annotations/target/classes/annotations/ObjectThree.class
/Annotations/target/classes/annotations/ObjectTwo.class
/ResourceBundles/target/classes/internationalization/main/Main.class
/ResourceBundles/target/classes/internationalization/resourcebundles/CookieResourceBundle.class
/ResourceBundles/target/classes/internationalization/resourcebundles/CookieResourceBundle_en_CA.class
/ResourceBundles/target/classes/internationalization/resourcebundles/CookieResourceBundle_ja_JP.class
/Annotations/Annotations.iml

/Annotations/target/classes/annotations/annotationprocessor/*.class
/Annotations/target/classes/annotations/annotationprocessor/*.class
/Annotations/target/classes/annotations/typeone/*.class
/Annotations/target/classes/annotations/typeone/*.class
/Annotations/target/classes/annotations/typeone/*.class
/Annotations/target/classes/annotations/typeone/*.class

/taskManager/.idea/inspectionProfiles/Project_Default.xml
/taskManager/.idea/inspectionProfiles/profiles_settings.xml
/taskManager/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/taskManager/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/taskManager/.idea/libraries/Maven__commons_collections_commons_collections_3_2.xml
/taskManager/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
/taskManager/.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3.xml
/taskManager/.idea/libraries/Maven__commons_io_commons_io_2_4.xml
/taskManager/.idea/libraries/Maven__commons_lang_commons_lang_2_3.xml
/taskManager/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/taskManager/.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
/taskManager/.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
/taskManager/.idea/libraries/Maven__javax_javaee_web_api_6_0.xml
/taskManager/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
/taskManager/.idea/libraries/Maven__javax_validation_validation_api_1_0_0_GA.xml
/taskManager/.idea/libraries/Maven__jstl_jstl_1_2.xml
/taskManager/.idea/libraries/Maven__junit_junit_4_10.xml

/threadsTry/target/classes/CookieShop.class
/threadsTry/target/classes/cookiestore/BuyerThread.class
/threadsTry/target/classes/cookiestore/ProducerThread.class
/threadsTry/target/classes/cookiestore/SupplierThread.class
/threadsTry/target/classes/log4j2.xml
/threadsTry/target/classes/products/Products.class
/threadsTry/target/classes/receipes/BiscuitRecipe.class
/threadsTry/target/classes/receipes/ChocolateCakeRecipe.class
/threadsTry/target/classes/receipes/GeneralRecipe.class
/threadsTry/target/classes/receipes/WrappedBiscuitesReceipe.class
/threadsTry/target/classes/workers/Buyer.class
/threadsTry/target/classes/workers/KitchenWorker.class
/threadsTry/target/classes/workers/SupplierWorker.class
/threadsTry/target/kitchen.log
/threadsTry/threadsTry.iml
/taskManager/target/test-classes/ro/reanad/taskmanager/service/TaskServiceImplTest.class
/taskManager/target/test-classes/taskManager.xml
/threadsTry/.idea/.name
/threadsTry/.idea/compiler.xml
/threadsTry/.idea/copyright/profiles_settings.xml
/threadsTry/.idea/encodings.xml
/threadsTry/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_0_beta9.xml
/threadsTry/.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_0_beta9.xml
/threadsTry/.idea/misc.xml
/threadsTry/.idea/modules.xml
/threadsTry/.idea/scopes/scope_settings.xml
/threadsTry/.idea/uiDesigner.xml
/threadsTry/.idea/vcs.xml
/threadsTry/.idea/workspace.xml
/threadsTry/target/Buyer.log
/threadsTry/target/Supplier.log

/taskManager/target/taskManager-1/resources/css/img/bullet.gif
/taskManager/target/taskManager-1/resources/css/img/header_botm.jpg
/taskManager/target/taskManager-1/resources/css/img/header_top.gif
/taskManager/target/taskManager-1/resources/css/img/nav.gif
/taskManager/target/taskManager-1/resources/css/index.css
/taskManager/target/taskManager-1/resources/css/jquery-1.2.3.pack.js
/taskManager/target/taskManager-1/resources/css/jquery-ui.css
/taskManager/target/taskManager-1/resources/js/jquery.treeview.js
/taskManager/target/taskManager-1/resources/js/js-mindmap.js
/taskManager/target/taskManager-1/resources/js/raphael-min.js
/taskManager/target/taskManager-1/resources/js/script.js

/taskManager/target/taskManager-1/WEB-INF/web.xml
/taskManager/target/taskManager-1/index.jsp
/taskManager/target/taskManager-1/resources/css/bc-stylesheet.css
/taskManager/target/taskManager-1/resources/css/img/bg.jpg
/taskManager/target/test-classes/DataSource.xml
/taskManager/target/test-classes/dispatcher-servlet.xml
/taskManager/target/test-classes/import.sql
/taskManager/target/test-classes/ro/reanad/taskmanager/dao/TaskDaoImplTest.class
/taskManager/target/test-classes/ro/reanad/taskmanager/model/TaskTest.class
/taskManager/target/classes/BeanLocations.xml
/taskManager/target/classes/DataSource.xml
/taskManager/target/classes/hibernate/hibernate.cfg.xml
/taskManager/target/classes/labels.properties
/taskManager/target/classes/labels_en.properties
/taskManager/target/classes/labels_ro.properties
/taskManager/target/classes/log4j.xml
/taskManager/target/classes/ro/reanad/taskmanager/controller/AddTaskController.class
/taskManager/target/classes/ro/reanad/taskmanager/controller/AuthorizationController.class
/taskManager/target/classes/ro/reanad/taskmanager/controller/BoardController.class
/taskManager/target/classes/ro/reanad/taskmanager/controller/ErrorPageController.class
/taskManager/target/classes/ro/reanad/taskmanager/controller/JanrainLoginServlet.class
/taskManager/target/classes/ro/reanad/taskmanager/controller/LogoutController.class
/taskManager/target/classes/ro/reanad/taskmanager/controller/TaskController.class
/taskManager/target/classes/ro/reanad/taskmanager/controller/TreeController.class
/taskManager/target/classes/ro/reanad/taskmanager/dao/AbstractDao.class
/taskManager/target/classes/ro/reanad/taskmanager/dao/TaskDao.class
/taskManager/target/classes/ro/reanad/taskmanager/dao/TaskDaoImpl.class
/taskManager/target/classes/ro/reanad/taskmanager/dao/exception/DuplicateUserException.class
/taskManager/target/classes/ro/reanad/taskmanager/dao/exception/NoSuchUserException.class
/taskManager/target/classes/ro/reanad/taskmanager/dao/exception/WrongPasswordException.class
/taskManager/target/classes/ro/reanad/taskmanager/dao/exception/WrongSubtaskException.class
/taskManager/target/classes/ro/reanad/taskmanager/listener/ActiveSessionsListener.class
/taskManager/target/classes/ro/reanad/taskmanager/model/Task.class
/taskManager/target/classes/ro/reanad/taskmanager/model/janrain/JanrainUser.class
/taskManager/target/classes/ro/reanad/taskmanager/model/janrain/UserProfile.class
/taskManager/target/classes/ro/reanad/taskmanager/service/TaskService.class
/taskManager/target/classes/ro/reanad/taskmanager/service/TaskServiceImpl.class
/taskManager/target/classes/schema.xsd
/taskManager/target/classes/taskManager.xml
/taskManager/target/classes/taskmanager_task.sql
/taskManager/target/maven-archiver/pom.properties
/taskManager/target/surefire-reports/TEST-ro.reanad.taskmanager.dao.TaskDaoImplTest.xml
/taskManager/target/surefire-reports/TEST-ro.reanad.taskmanager.model.TaskTest.xml
/taskManager/target/surefire-reports/TEST-ro.reanad.taskmanager.service.TaskServiceImplTest.xml
/taskManager/target/surefire-reports/ro.reanad.taskmanager.dao.TaskDaoImplTest.txt
/taskManager/target/surefire-reports/ro.reanad.taskmanager.model.TaskTest.txt
/taskManager/target/surefire-reports/ro.reanad.taskmanager.service.TaskServiceImplTest.txt
/taskManager/target/taskManager-1.war
/taskManager/target/taskManager-1/WEB-INF/DataSource.xml
/taskManager/target/taskManager-1/WEB-INF/aplicationContext.xml
/taskManager/target/taskManager-1/WEB-INF/classes/BeanLocations.xml
/taskManager/target/taskManager-1/WEB-INF/classes/DataSource.xml
/taskManager/target/taskManager-1/WEB-INF/classes/hibernate/hibernate.cfg.xml
/taskManager/target/taskManager-1/WEB-INF/classes/labels.properties
/taskManager/target/taskManager-1/WEB-INF/classes/labels_en.properties
/taskManager/target/taskManager-1/WEB-INF/classes/labels_ro.properties
/taskManager/target/taskManager-1/WEB-INF/classes/log4j.xml
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/controller/AddTaskController.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/controller/AuthorizationController.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/controller/BoardController.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/controller/ErrorPageController.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/controller/JanrainLoginServlet.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/controller/LogoutController.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/controller/TaskController.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/controller/TreeController.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/dao/AbstractDao.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/dao/TaskDao.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/dao/TaskDaoImpl.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/dao/exception/DuplicateUserException.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/dao/exception/NoSuchUserException.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/dao/exception/WrongPasswordException.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/dao/exception/WrongSubtaskException.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/listener/ActiveSessionsListener.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/model/Task.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/model/janrain/JanrainUser.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/model/janrain/UserProfile.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/service/TaskService.class
/taskManager/target/taskManager-1/WEB-INF/classes/ro/reanad/taskmanager/service/TaskServiceImpl.class
/taskManager/target/taskManager-1/WEB-INF/classes/schema.xsd
/taskManager/target/taskManager-1/WEB-INF/classes/taskManager.xml
/taskManager/target/taskManager-1/WEB-INF/classes/taskmanager_task.sql
/taskManager/target/taskManager-1/WEB-INF/dispatcher-servlet.xml
/taskManager/target/taskManager-1/WEB-INF/hibernate/hibernate.cfg.xml
/taskManager/target/taskManager-1/WEB-INF/i18n.xml
/taskManager/target/taskManager-1/WEB-INF/jsp/board.jsp
/taskManager/target/taskManager-1/WEB-INF/jsp/errorPage.jsp
/taskManager/target/taskManager-1/WEB-INF/jsp/manageTask.jsp
/taskManager/target/taskManager-1/WEB-INF/jsp/success.jsp
/taskManager/target/taskManager-1/WEB-INF/jsp/tasks.jsp
/taskManager/target/taskManager-1/WEB-INF/lib/antlr-2.7.7.jar
/taskManager/target/taskManager-1/WEB-INF/lib/aopalliance-1.0.jar
/taskManager/target/taskManager-1/WEB-INF/lib/commons-collections-3.2.jar
/taskManager/target/taskManager-1/WEB-INF/lib/commons-dbcp-1.4.jar
/taskManager/target/taskManager-1/WEB-INF/lib/commons-fileupload-1.3.jar
/taskManager/target/taskManager-1/WEB-INF/lib/commons-io-2.4.jar
/taskManager/target/taskManager-1/WEB-INF/lib/commons-lang-2.3.jar
/taskManager/target/taskManager-1/WEB-INF/lib/commons-logging-1.1.1.jar
/taskManager/target/taskManager-1/WEB-INF/lib/commons-pool-1.5.4.jar
/taskManager/target/taskManager-1/WEB-INF/lib/dom4j-1.6.1.jar
/taskManager/target/taskManager-1/WEB-INF/lib/hibernate-commons-annotations-4.0.1.Final.jar
/taskManager/target/taskManager-1/WEB-INF/lib/hibernate-core-4.1.9.Final.jar
/taskManager/target/taskManager-1/WEB-INF/lib/hibernate-jpa-2.0-api-1.0.1.Final.jar
/taskManager/target/taskManager-1/WEB-INF/lib/hibernate-validator-4.2.0.Final.jar
/taskManager/target/taskManager-1/WEB-INF/lib/jackson-core-asl-1.8.5.jar
/taskManager/target/taskManager-1/WEB-INF/lib/jackson-mapper-asl-1.8.5.jar
/taskManager/target/taskManager-1/WEB-INF/lib/javassist-3.17.1-GA.jar
/taskManager/target/taskManager-1/WEB-INF/lib/jboss-logging-3.1.0.GA.jar
/taskManager/target/taskManager-1/WEB-INF/lib/jboss-transaction-api_1.1_spec-1.0.0.Final.jar
/taskManager/target/taskManager-1/WEB-INF/lib/jstl-1.2.jar
/taskManager/target/taskManager-1/WEB-INF/lib/log4j-1.2.16.jar
/taskManager/target/taskManager-1/WEB-INF/lib/mysql-connector-java-5.1.21.jar
/taskManager/target/taskManager-1/WEB-INF/lib/servlet-api-2.5.jar
/taskManager/target/taskManager-1/WEB-INF/lib/slf4j-api-1.6.1.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-aop-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-asm-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-beans-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-context-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-context-support-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-core-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-expression-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-jdbc-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-orm-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-test-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-tx-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-web-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/spring-webmvc-3.1.2.RELEASE.jar
/taskManager/target/taskManager-1/WEB-INF/lib/validation-api-1.0.0.GA.jar
/taskManager/target/taskManager-1/WEB-INF/tags/manageTask.tag
/taskManager/target/taskManager-1/WEB-INF/tags/taskNode.tag
/taskManager/target/taskManager-1/WEB-INF/taskManager.xml

/taskManager/.idea/artifacts/taskManager_war.xml
/taskManager/.idea/artifacts/taskManager_war_exploded.xml
/taskManager/.idea/copyright/profiles_settings.xml
/taskManager/.idea/dictionaries/adinuca.xml
/taskManager/.idea/libraries/Maven__log4j_log4j_1_2_16.xml
/taskManager/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_21.xml
/taskManager/.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_8_5.xml
/taskManager/.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_8_5.xml
/taskManager/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
/taskManager/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_1_Final.xml
/taskManager/.idea/libraries/Maven__org_hibernate_hibernate_core_4_1_9_Final.xml
/taskManager/.idea/libraries/Maven__org_hibernate_hibernate_validator_4_2_0_Final.xml
/taskManager/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_0_api_1_0_1_Final.xml
/taskManager/.idea/libraries/Maven__org_javassist_javassist_3_17_1_GA.xml
/taskManager/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_0_GA.xml
/taskManager/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_1_spec_1_0_0_Final.xml
/taskManager/.idea/libraries/Maven__org_mockito_mockito_all_1_9_0.xml

/taskManager/.idea/libraries/Maven__org_slf4j_slf4j_api_1_6_1.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_aop_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_asm_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_beans_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_context_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_context_support_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_core_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_expression_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_jdbc_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_orm_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_test_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_tx_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_web_3_1_2_RELEASE.xml
/taskManager/.idea/libraries/Maven__org_springframework_spring_webmvc_3_1_2_RELEASE.xml

/taskManager/.idea/scopes/scope_settings.xml
/taskManager/.idea/workspace.xml
/taskManager/logs/sessions.log
/taskManager/logs/taskManager.log
